<style>
	textarea {
		rows:10;
	}
</style>
<%= form_for @survey, :html => {:class => "form-horizontal" } do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, "Her Name", :class => "control-label" %>
    <div class="controls"><%= f.text_field :name %></div>
  </div>
  <div class="control-group">
    <%= f.label :zip , "Her Zip Code", :class => "control-label" %>
    <div class="controls"><%= f.text_field :zip %></div>
  </div>
  <div class="control-group">
    <%= f.label :dob, "Her Date of Birth", :class => "control-label" %>
    <div class="controls"><%= f.date_select :dob, :start_year => 1975, :html_options => {:class => "input-small"} %></div>
  </div>
  <div class="control-group">
    <%= f.label :flowers, "Describe her personality using up to 10 keywords", :class => "control-label" %>
    <div class="controls"><%= f.text_area :flowers, :class => "wide-control", :rows => "10" %></div>
  </div>
  <div class="control-group">
    <%= f.label :anniversary_date, :class => "control-label" %>
    <div class="controls"><%= f.date_select :anniversary_date %></div>
  </div>
  <div class="control-group">
    <%= f.label :dislikes, "Her Dislikes", :class => "control-label" %>
    <div class="controls"><%= f.text_field :dislikes %></div>
  </div>
  <div class="control-group">
    <%= f.label :budget, "Your Budget",:class => "control-label" %>
    <div class="controls"><%= f.text_field :budget %></div>
  </div>
  <div class="control-group">
    <%= f.label :ship_address, :class => "control-label" %>
    <div class="controls"><%= f.text_field :ship_address %></div>
  </div>
  <div class="control-group">
    <%= f.label :ship_zip, :class => "control-label" %>
    <div class="controls"><%= f.text_field :ship_zip %></div>
  </div>
  <div class="control-group">
    <%= f.label :ship_city, :class => "control-label" %>
    <div class="controls"><%= f.text_field :ship_city %></div>
  </div>
  <%# <div class="control-group"> %>
  <%#   <%= f.label :phone_num, "Her Phone Number", :class => "control-label" %1> %>
  <%#   <div class="controls"><%= f.text_field :phone_num %1></div> %>
  <%# </div> %>
  <div class="actions pull-right">
    <%= f.submit 'Submit', :class=>"btn btn-primary" %>
  </div>
<% end %>
