<h1>Listing girltypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @girltypes.each do |girltype| %>
  <tr>
    <td><%= girltype.name %></td>
    <td><%= link_to 'Show', girltype %></td>
    <td><%= link_to 'Edit', edit_girltype_path(girltype) %></td>
    <td><%= link_to 'Destroy', girltype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Girltype', new_girltype_path %>
