<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Giftbo" %></title>    
<meta name="description" content="">
<meta name="author" content="">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <%= link_to image_tag("giftbo_logo_navbar.png"), root_url, :class => "brand brand-img" %>
        <ul class="nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "Survey", controller:"surveys", action:"new" %></li>
          <li><%= link_to "Gift List", "#"%></li>              
        </ul>
      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
