<!DOCTYPE html>
<html>
<head>
  <title>Giftbo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to image_tag("giftbo_logo_navbar.png"), root_url, :class => "brand brand-img" %>
        <ul class="nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="setup-notes.html">Survey</a></li>
          <li><a href="navbar-examples.html">Gift List</a></li>              
        </ul>
      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
