<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Giftbo" %></title>    
<meta name="description" content="">
<meta name="author" content="">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
  <style>
	#banner { float:left; width: 800px; height: 180px; background-image:url("logo.png"); }
  </style>
</head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>
		          <li><a href="setup-notes.html">Survey</a></li>
              <li><a href="navbar-examples.html">Gift List</a></li>              
		        </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="banner"></div>

<%= yield %>

</body>
</html>
